In [1]:
import numpy as np
import pandas as pd

In [6]:
flat_rand_data = pd.read_csv('./test_data/flat_rands.csv')
gaussian_rand_data = pd.read_csv('./test_data/gaussian_rands.csv')

In [8]:
flat_rand_data.describe()

        flat_rands
count  1000.000000
mean      0.497943
std       0.285393
min       0.000652
25%       0.248949
50%       0.506924
75%       0.734849
max       0.999970

In [9]:
gaussian_rand_data.describe()

       gaussian_rands
count     1000.000000
mean        -0.044500
std          0.974183
min         -3.982356
25%         -0.700974
50%         -0.049138
75%          0.648212
max          2.694102

In [10]:
gaussian_rand_data.head()

   gaussian_rands
0       -0.163090
1       -0.116199
2        0.051868
3        0.839545
4        1.352317

In [14]:
(100*gaussian_rand_data).describe()

       gaussian_rands
count     1000.000000
mean        -4.449967
std         97.418264
min       -398.235600
25%        -70.097350
50%         -4.913800
75%         64.821200
max        269.410200